* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

nav {
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
}

/* main divs */

.div1 {
  width: 100%;
  height: 50px;
  background-color: #383838;
  display: flex;
  justify-content: center;
}

.div2 {
  width: 100%;
  height: 50px;
  background-color: #066163;
  display: flex;
  justify-content: center;
}

.div3 {
  width: 100%;
  height: 50px;
  background-color: #cdbe78;
  display: flex;
  justify-content: center;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.footerContent {
  display: inline-block;
  padding: 0 20px;
}
